
<div class="first">
  
  
   
    <form >

    <fieldset>
      <h1>Category Form</h1>
      <br>
      <br>
      &nbsp; &nbsp; <input type='number' placeholder="Category Id" name="categoryid" > &nbsp;
   
      <br>
      <br>
      <br>
      <br>
      &nbsp; &nbsp;  <input type='text' placeholder=" Category Name" name="categoryName" > &nbsp;
     <br>
     <br>
    
   <br>
   <br>
     <button mat-raised-button color="accent">Add Category</button>
     <br>
     </fieldset>
   </form>
  
  </div>
